body { background-color: #f0f2f5; }

.btn-play {
    background: none; border: none; padding: 0;
    color: #24d366; font-size: 2.5rem;
    display: flex; align-items: center;
}

.time-display {
    min-width: 75px; font-size: 0.75rem;
    font-variant-numeric: tabular-nums;
}

/* シークバーの見た目調整 */
.js-progress-container {
    display: flex; align-items: center; cursor: pointer;
}

.progress-inner {
    width: 100%; height: 6px; /* 実際のバーの太さ */
    background-color: #eee; border-radius: 3px;
    overflow: hidden; position: relative;
}

.progress-bar {
    background-color: #adb5bd; height: 100%;
    /* 再生中は滑らかに動かし、スライド操作時はJSでtransitionを消します */
    transition: width 0.1s linear; 
}
